@font-face {
  font-family: "Iran Nastaligh";
  src: url("../assets/fonts/IranNastaliq/IranNastaliq.ttf") format("truetype");
}
/** Reset Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}

/* Root Variables */
:root {
  --primary-color: #16a34a;
  --secondary-color: #bbf7d0;
  --main-white: #fff;
  --black-project: #1c1917;
  --main-black: #000;
  --main-red: #dc2626;
  --main-yellow: #fbbf24;
  --main-gray: #6b7280;
  --main-transition: all 0.3s ease-out;
  --bgc-header: #dcfce7;
}

/* Html And Body */

html {
  font-size: 62.5%;
}

body {
  font-family: "Iran Nastaligh";
}

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* block */
.block {
  padding: 1rem 1.5rem;
}

/* Header */
.main-header {
  width: 100%;
  height: 10rem;
  background-color: var(--bgc-header);
}

.main-header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.main-header .header .logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px 10px var(--secondary-color);
}
.main-header .header .logo img {
  width: 100%;
  height: auto;
}

.main-header .header .menu--hamburger {
  width: 50px;
  height: 50px;
}

.main-header .header .menu--hamburger .line__menu {
  width: 100%;
  height: 8px;
  background-color: var(--primary-color);
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.header .search__container {
  min-width: 230px;
  flex: 1 1 0%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header .search__container .label__search-input {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}

.header .search-input {
  padding: 1rem 1rem;
  border-radius: 15px;
  color: var(--primary-color);
  font-size: 1.6rem;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
  margin-right: 1rem;
  transform: translatey(-100vh) rotate(180deg);
}

.header .search-input.active__search-input {
  opacity: 1;
  transform: translatey(0);
}

.header .search-input::placeholder {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.header .search-input:focus {
  border: 2px solid var(--primary-color);
}

/* todo */
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}

.todo .header__todo {
  width: 100%;
  margin-bottom: 1.5rem;
}

.todo .header__todo .title__todo {
  font-size: 4.5rem;
  color: var(--primary-color);
}

.todo .form-container {
  width: 100%;
}

.todo .form-container form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 3.5rem;
}

.todo .form-container form .todo-input {
  flex: 1 1 0%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--bgc-header);
}
.todo .form-container form .todo-input:focus {
  border: 2px solid var(--primary-color);
}
.todo .form-container form .todo-button {
  color: var(--primary-color);
  transition: var(--main-transition);
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 4px;
  margin: 0 0.5rem;
  background: none;
}
.todo .form-container form .todo-button:hover {
  background-color: var(--primary-color);
  color: var(--main-white);
}

.todo .form-container .input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todos-container .todo {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--secondary-color);
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
}

.todos-container .todo li {
  color: var(--primary-color);
  flex: 1 1 0%;
  font-size: 2rem;
  font-weight: bold;
}

.todos-container .todo .date__todo {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-left: 0.5rem;
}

.todos-container .todo span {
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.todos-container .todo span .fa-trash-alt {
  color: var(--main-red);
}

.todos-container .todo span .fa-square-check {
  color: var(--primary-color);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--primary-color);
}

.input-container .filter-todos {
  appearance: none;
  width: 100%;
  padding: 1rem;
  color: var(--primary-color);
  background-color: var(--bgc-header);
  cursor: pointer;
  padding: 0.5rem 0;
}

.selected.input-container {
  position: relative;
}

.selected.input-container::after {
  content: " \25bc";
  top: 0;
  left: 0;
  position: absolute;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Media queris */
@media screen and (min-width: 1024px) {
  .header .search__container .label__search-input {
    font-size: 3.5rem;
  }
  .header .search-input::placeholder {
    font-size: 1.8rem;
  }
  .todo .header__todo .title__todo {
    font-size: 6rem;
  }
  .todo .form-container form {
    height: 4rem;
  }
  .todo .form-container form .todo-input {
    width: 400px;
  }
  .todos-container .todo li {
    font-size: 3rem;
  }
}
